.award_poster_1 {
	border: 1px #CCC solid;
    margin: 0 0 10px 15px;
    padding: 0 4px 2px;
	text-align: left;
}
.award_poster_2 {
	border: none;
	border-top: 1px #CCC solid;
	margin: 0 0 10px 15px;
    padding: 0 4px 2px;
	text-align: left;
	border-radius: 0;
}
.award_poster_3 {
	border: 0px #CCC solid;
	padding: 0 10px;
}
.award_signature_1 {
	border: 1px #CCC solid;
	padding: 2px 2px 2px 5px;
}
.award_signature_2 {
	border: 0 #CCC solid;
	border-top: 1px;
	padding: 2px 2px 2px 5px;
}
.award_signature_3 {
	border: 0px #ccc solid;
	padding: 0 0;
}
.table_grid a img.icon {
	vertical-align: text-bottom;
}
.cat_img_award_add:before {
	background-image: url(../images/awards/award_hd.png);
}
.secondary_header img.icon {
    padding: 0 4px 4px;
    vertical-align: middle;
}
#awardselect select {
	height: auto;
}