.award_poster_1 {
	border: 1px;
	border-style: solid;
	border-color: #CCC;
	padding: 2px 2px 2px 5px;
	margin-right: 15px;
}
.award_poster_2 {
	border: 0;
	border-top: 1px;
	border-style: solid;
	border-color: #CCC;
	padding: 2px 2px 2px 5px;
	margin-right: 15px;
}
.award_poster_3 {
	border: 0px;
	border-style: solid;
	border-color: #CCC;
	padding: 0 0;
}

.award_signature_1 {
	border: 1px;
	border-style: solid;
	border-color: #CCC;
	padding: 2px 2px 2px 5px;
	margin-right: 15px;
}
.award_signature_2 {
	border: 0;
	border-top: 1px;
	border-style: solid;
	border-color: #CCC;
	padding: 2px 2px 2px 5px;
	margin-right:15px;
}
.award_signature_3 {
	border: 0px;
	border-style: solid;
	border-color: #CCC;
	padding: 0 0;
}
.table_grid a img.icon {
	vertical-align: text-bottom;
}
.cat_img_award_add:before {
	background-image: url(../images/awards/award_hd.png);
}
.secondary_header img.icon {
    padding: 0 4px 4px;
    vertical-align: middle;
}
#awardselect select {
	height: auto;
}