.award_poster_1 {
	border: 1px #CCC solid;
    margin: 0 0 10px 15px;
    padding: 0 4px 2px;
	text-align: left;
}
.award_poster_2 {
	border: none;
	border-top: 1px #CCC solid;
	margin: 0 0 10px 15px;
    padding: 0 4px 2px;
	text-align: left;
	border-radius: 0;
}
.award_poster_3 {
	border: 0px #CCC solid;
	padding: 0 10px;
}
.award_signature_1 {
	border: 1px #CCC solid;
	padding: 2px 2px 2px 5px;
}
.award_signature_2 {
	border: 0 #CCC solid;
	border-top: 1px;
	padding: 2px 2px 2px 5px;
}
.award_signature_3 {
	border: 0px #ccc solid;
	padding: 0 0;
}
.table_grid a img.icon {
	vertical-align: text-bottom;
}
.cat_img_award_add:before {
	background-image: url(../images/awards/award_hd.png);
}
.secondary_header img.icon {
    padding: 0 4px 4px;
    vertical-align: middle;
}
#awardselect select, #profile_boards {
    height: auto;
    max-height: none;
    min-height: 0;
	min-width: 100%;
}
#awardselect dt {
	width: 100%;
}

dl.settings dt a img.award_icon_help {
	vertical-align: middle;
	padding-bottom: 2px;
}

/* The add / select award page */
#select_award_type .reset
{
	margin: 2px 0;
	overflow: auto;
}
#select_award_type .content {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	margin: 2px 0.166%;
	padding: 10px 10px 4px 10px;
	height: 7em;
	width: 33%;
	float: left;
	overflow: auto;
}
#select_award_type .content label:hover {
	text-decoration: underline;
	cursor: pointer;
}
#select_award_type .smalltext {
	margin: 6px;
}